*{
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', sans-serif;
    box-sizing: border-box;
}
:root{

--naranja: #F7931A;
--blanco-hueso: #FFE9D5;
--celeste: #1A9AF7;
--cielo: #E7F5FF;
--negro: #201E1C;
--negro2: #282623;
--gris: #BABABA;
--blanco-claro: #FAF8F7;
--blanco: #FFFFFF;
}
html{
    font-size: 10px;
}
section{
    height: 140rem;
    width:  37.5rem;
    margin: auto;
}
.body-error{
    background-color: var(--gris);
}
.error{
    width:auto;    
    height:auto;
    margin-left: 60rem;
    margin-top: 20rem;
    
}
.num{
    font-size: 20rem;
    padding-left:5rem;
    color: var(--naranja);
}
.texto-error{
    font-size: 5rem;
    color: var(--negro);
}