*{
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', sans-serif;
    box-sizing: border-box;
}
:root{

--naranja: #F7931A;
--blanco-hueso: #FFE9D5;
--celeste: #1A9AF7;
--cielo: #E7F5FF;
--negro: #201E1C;
--negro2: #282623;
--gris: #BABABA;
--blanco-claro: #FAF8F7;
--blanco: #FFFFFF;
}
html{
    font-size: 10px;
}
section{
    box-sizing: border-box;
    width:  37.5rem;
    margin: auto;
    margin-bottom:3rem;

}