*{
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', sans-serif;
}
:root{

--naranja: #F7931A;
--blanco-hueso: #FFE9D5;
--celeste: #1A9AF7;
--cielo: #E7F5FF;
--negro: #201E1C;
--negro2: #282623;
--gris: #BABABA;
--blanco-claro: #FAF8F7;
--blanco: #FFFFFF;
}
.Fernando{
    background-color:var(--negro);
    padding-top: 10rem;
}
.titulo{
    height: auto;
    width: 35rem;
    text-align: center;
    margin: auto;
    color: var(--blanco);
    font-size: 2rem;
}
.texto{
    height: auto;
    width: 35rem;
    margin-top: 1.5rem;
    margin-left: 2.8rem;
    color: var(--gris);
    font-size: 1.7rem;
}