*{
    margin: 0;
    padding: 0;
}
.JuanPablo{
    background-color: var(--blanco-claro);
}
.Imagen{
    width: 37.5rem;
    height: 24.5rem;
}
.Img1{
    width: 37.5rem;
    height: 25rem;
}
.Text-imagen{
    position: relative;
    bottom: 20rem;
    padding-left: 13.5rem;
    color: var(--blanco);
    
}
.Text-plan{
    text-align: center;
    padding-top: 4rem;
    padding-left: 7rem;
    padding-right: 7rem;
}
.Text-Cual{
    text-align: center;
    font-size: 1rem;
    padding-top: 3.5rem;
    padding-left: 7rem;
    padding-right: 7rem;
    padding-bottom: 2rem;
}
.Cajas{
    width: 37.4rem;
    height: 24.5rem;
    padding-top: 3rem;
    display: flex;
    overflow-y:scroll;
}
.Cajas1{
     overflow-x:scroll;
      max-width: 100%;
        display: flex;
    align-items: center;
    width: 37.4rem;
    height: 22.5rem;
    
}
.Cajas2{
    width: 37.4rem;
    overflow-x:scroll;
    height: 21.5rem;
    grid-template-columns: repeat(3,1fr);
    grid-gap: .5rem;  
    display: grid;
}
.Cajas::-webkit-scrollbar {
    display: none;
}.Cajas2::-webkit-scrollbar {
    display: none;
}
.Cajas1::-webkit-scrollbar {
    display: none;
}
.ch1{
    position: relative;
  background-color: var(--blanco);
    display: inline-block;   
    width: 13rem;
    height: 21.5rem;
    left: -5rem;
    border-radius: 0.5rem;
}
.TextoDePago1{
    position: relative;
    font-size: 1.1rem;
    left: 3rem;
    top: 2.6rem;
}
.precios1{
    position: relative;
    font-size: 3.5rem;
    left: 3rem;
    top: 3.4rem;
}
.PrecioEnDolar1{
    font-size: 1.5rem; 
}
.Descripcion1{
    position: relative;
    text-align: center;
    color: var(--gris);
    top: 3rem;
    font-size: 0.8rem;
    top: 5rem;
}
.TextoBoton1{
    position: relative;
    top: 8rem;
    left: 2rem;
    width: 9rem;
    height: 3rem;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--naranja);
    background-color: var(--blanco-claro);
}
.ch2{
    position: relative;
    left: -2.5rem;
  background-color: var(--blanco);
    width: 13.5rem;
    height: 21.5rem;
    border-radius: 0.5rem;
}
.CajaNaranja{
    position: relative;
    left: 3rem;
    bottom: 0.5rem;
    height: 2rem; 
    width: 7.5rem;
    text-align: center;
    background-color: var(--naranja);
    font-weight: 700;
    color: var(--blanco);
    border-radius: 8px;
        align-items: center;
}
.TextoDePago{
    position: relative;
    font-size: 1.1rem;
    left: 3.7rem;
    top: 0.5rem;
}
.precios{
    position: relative;
    font-size: 3.5rem;
    left: 3rem;
    top: 1.3rem;
}
.PrecioEnDolar{
    font-size: 1.5rem;   
}
.Descripcion {
    position: relative;
    text-align: center;
    color: var(--gris);
    top: 3rem;
    font-size: 0.8rem;
}
.TextoBoton {
    position: relative;
    top: 6rem;
    left: 2.3rem;
    width: 9rem;
    height: 3rem;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--naranja);
    background-color: var(--blanco-claro);
}
.ch3{
    position: relative;
  background-color: var(--blanco);
    width: 13rem;
    height: 21.5rem; 
    left: -0.5rem;
    border-radius: 0.5rem;
    
}
.footer {
    background-color: var(--naranja);
}

.Contenedor {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    width: 300px;
    max-width: 100%;
    margin: auto;
}
.footer_link-item {
    display: block;
}

.footer_logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.link {
    color: var(--blanco);
    text-decoration: none;
    margin-bottom: 0.5rem;
}

.link:hover {
    text-decoration: underline;
}
.Batata{
    width: 6.4rem;
}
@media screen and (min-width: 600px){
    .JuanPablo{
        width: 48rem;
        background-color: var(--blanco-claro);
    }
    .Text-imagen{
        left: 5rem;
    }
    .Img1{
        width: 48rem;
        display: flex;
    }
    .Cajas{
        width: 47.8rem;
    }
    .Cajas1{
        width: 47.8rem;
    }
    .Cajas2{
        width: 47.8rem;
    }
    .ch1{
        float: left;
        left: 1rem;
    }
    .ch2{
        left: 1rem;
    }
    .ch3{
        left: 2rem;
    }
    }
    @media screen and (min-width: 1200px){
        .JuanPablo{
            width: 84.2rem;
            background-color: var(--blanco-claro);
        }
        .Img1{
            width: 84.2rem;
            display: flex;
        }
        .Text-imagen{
            left: 23rem;
        }
        .Cajas{
            width: 84rem;
        }
        .Cajas1{
            width: 84rem;
        }
        .Cajas2{
            width: 84rem;
        }
        .ch1{
            float: left;
            left: 12rem;
        }
        .ch2{
            left: 7rem;
        }
        .ch3{
            left: 2rem;
    }
}
