*{
    margin: 0;
    padding: 0;
}
.JuanPablo1{
    height: 140rem;
    width:  37.5rem;
    margin: auto;
    margin-bottom: 10px;
}

.img{
    width: 100%;
    height: 25rem;      
}
.img1{
    width: 100%;
    height: 25rem; 
}
.medio{
    width: 100%;
    height: 50rem;
    background-color: var(--blanco-claro);
}
.texto1{
    width: 100%;
    height: 10rem;  
    text-align:center;
}
.titulo{
    font-size: 2rem;
    margin-left: 2.7rem;
    margin-right: 2.7rem;
    padding-top: 1.2rem;
}
.SubTitulo{
    margin-top: 2rem;
    font-size: 1.3rem;
    margin-left: 3rem;
    margin-right: 3rem;
}
.caja{
    width: 100% ;
    height: 20rem;
    margin-top: 2rem
}
.cajas-fusion{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction:row;
}
.caja-izquierda{
    width: 12rem;
    height: 30rem;
    background-color: var(--blanco);
    border-radius: 0rem 1rem 1rem 0rem;
    margin-top: 3rem;
    
}
.caja-centro-contenedor{
    width: 31rem;
    height: 30rem;
    margin-left: 1rem;
    margin-right: 1rem;
    
}
.caja-centro{
    width: 20rem;
    height: 25rem;
    background-color: var(--blanco);
    border-radius: 1rem;
    padding-top: 3rem;
}
.caja-derecha{
    width: 12rem;
    height: 30rem;
    background-color: var(--blanco);
    border-radius: 1rem 0rem 0rem 1rem;
    margin-top: 3rem;
}
.recomendado{
    width: 9rem;
    height: 3rem;
    background-color: var(--naranja);
    border-radius: 1rem;
    text-align: center;
    margin-left: 5.5rem;
    position: relative;
    top: 2rem;    
}
.recomendadoTXT{
    font-size: 1.2rem;
    text-align: center;
}

.pago-anual{
    text-align: center;
    font-size: 1.2rem;
}

.presio-contenedor{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    padding-left: 6rem;
    margin: auto;
}
.precio{
    font-size: 5.5rem;
}
.simbolo{
    font-size: 1.5rem;
    margin-top: 0.5rem;
}
.texto-caja-central{
    margin-top: 2rem;
    text-align: center;
    font-size: 0.9rem;
}
.boton-escoger-contenedor{
    width: 14rem;
    height: 3.5rem;
    background-color:var(--naranja);
    margin: auto;
    margin-top: 6rem;
    padding-top: 0.3rem;
    border-radius: 0.5rem;
}
.texto-caja-central{
    font-size: 1.2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    color: var(--gris);
}
.boton-escoger{
    width: 13.3rem;
    height: 3.2rem;
    background-color:var(--blanco-claro);
    margin: auto;
    border-radius: 0.5rem;
}
.escogerTXT{
    font-size: 0.8;
    text-align: center;
}

.preguntas{
    width: 100%;
    height: 45rem;
    background-color: var(--blanco-claro);
}
.Titulo-Pregunta{
    text-align: center;
    font-size: 2.6rem;
    margin-left: 2rem;
    margin-right: 2rem;
}
.caja1{
    margin-top: 2rem;
    width: 100%;
    height: 4rem;
}
.caja2{
    width: 100%;
    height: 4rem;
}
.caja3{
    width: 100%;
    height: 4rem;
}
.caja4{
    width: 100%;
    height: 4rem;
}
.cj1{
    width: 3rem;
    height: 3rem;
    margin-top: -1.4rem;
    margin-left: 30rem;
}
.cj2{
    width: 3rem;
    height: 3rem;
    margin-top: -1rem;
    margin-left: 30rem;
}
.cj3{
    width: 3rem;
    height: 3rem;
    margin-top: -1rem;
    margin-left: 30rem;
}
.cj4{
    width: 3rem;
    height: 3rem;
    margin-top: -1rem;
    margin-left: 30rem;
}
.caja1TXT{
    width: 70%;
    margin-left: 2rem;
    color:var(--gris);
}
.footer {
    background-color: var(--naranja);
}

.Contenedor {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    width: 300px;
    max-width: 100%;
    margin: auto;
}
.footer_link-item {
    display: block;
}

.footer_logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.link {
    color: var(--blanco);
    text-decoration: none;
    margin-bottom: 0.5rem;
}

.link:hover {
    text-decoration: underline;
}
.Batata{
    width: 6.4rem;
}
@media screen and (min-width: 700px){

    .JuanPablo{
        width: 100%;
    }
    .JuanPablo1{
        width: 100%;
    }
    .medio{
        width: 100%;

    }
    .caja-derecha{
        border-radius: 1rem;
    }
    .caja-izquierda{
        border-radius: 1rem;
    }
    .titulo{
        margin-left: 8rem;
        margin-right: 8rem;
    }
    .SubTitulo{
        margin-left: 8rem;
        margin-right: 8rem;
    }
    .cajas-fusion{
        width: 100%;
    }
    .caja-izquierda{
        width: 18rem;
        height: 30rem;
        margin: auto;
        margin-top: 3rem;
    }
    .caja-centro{
        width: 19rem;
        height: 27rem;
        margin: auto;
    }
    .caja-derecha{
        width: 20rem;
        height: 30rem;
        margin: auto;
        margin-top: 3rem;
    }
    .Titulo-Pregunta{
        margin-left: 8rem;
        margin-right: 8rem;
    }
    .preguntas{
        margin: auto;
        width: 100%;
    }
    .cajas-preguntas{
        margin: auto;
        width: 60%;
    }
    .caja1{
        margin: auto;
    }
    .caja1TXT{
        width: 70%;
        font-size: 1.2rem;
    }
    .cj1{
        width: 3rem;
        height: 3rem;
        margin-top: -3rem;
        margin-left: 25rem;
    }
    .cj2{
        width: 3rem;
        height: 3rem;
        margin-top: -1.5rem;
        margin-left: 25rem;
    }
    .cj3{
        width: 3rem;
        height: 3rem;
        margin-top: -3rem;
        margin-left: 25rem;
    }
    .cj4{
        width: 3rem;
        height: 3rem;
        margin-top: -1.5rem;
        margin-left: 25rem;
    }
    .caja1TXT{
        font-size: 1.3rem;
    }
    .cajas-preguntas{
        margin-top: 2rem;
    }
}
@media screen and (min-width: 1300px){

    .JuanPablo{
        width: 100%;
    }
    .JuanPablo1{
        width: 100%;
    }
    .medio{
        width: 100%;

    }
    .recomendado{
        left: 5.5rem;
    }
    .caja-derecha{
        border-radius: 1rem;
    }
    .caja-izquierda{
        border-radius: 1rem;
    }
    .preguntas{
        margin: auto;
        width: 100%;
    }
    .cajas-preguntas{
        margin: auto;
        width: 40%;
    }
    .caja1{
        margin: auto;
    }
    .caja1TXT{
        width: 70%;
        font-size: 1.2rem;
    }
    .cj1{

        margin-left: 27.5rem;
    }
    .cj2{
        margin-left: 27.5rem;
    }
    .cj3{
        margin-left: 27.5rem;
    }
    .cj4{
        margin-left: 27.5rem;
    }
    .cajas-preguntas{
        margin-top: 2rem;
    }
}
@media screen and (min-width: 1800px){


    .recomendado{
        left: 5.5rem;
    }
    .caja-derecha{
        border-radius: 1rem;
    }
    .caja-izquierda{
        border-radius: 1rem;
    }
    .preguntas{
        margin: auto;
        width: 100%;
    }
    .cajas-preguntas{
        margin: auto;
        width: 35%;
    }
    .caja1TXT{
        font-size: 1.5rem;
    }
    .cj1{
        margin-left: 34rem;
    }
    .cj2{
        margin-left: 34rem;
    }
    .cj3{
        margin-left: 34rem;
    }
    .cj4{
        margin-left: 34rem;
    }
    .cajas-preguntas{
        margin-top: 2rem;
    }
}